# Image Files
*.stk
*.nd2
*.tif
*.png

# Output folder
*/output
..gitignore.un~

# MAT data files
*.mat

# Mac DS_store file
.DS_store
# Thumbs.db files
Thumbs.db

# Misc Stuff that keeps popping up
*.zip
*.docx
